@import 'ui-variables';

atom-text-editor .syntax--source {
	&.syntax--y {
		// Palette
		--grey: #616161;
		--orange: #f06543;
		--green: #98c379;
		--light-green: #bcebcb;
		--high-light-yellow: #f7fff6;
		--salmon: #C78283;
		--blue: #61afef;
		
		// Keywords
		.syntax--keyword {
			&.syntax--primary {
				color: var(--blue);
			}
			
			&.syntax--second {
				color: var(--salmon);
			}
			
			&.syntax--rule {
				&.syntax--name {
					color: var(--light-green);
				}
			}
		}
		
		// Punctuations
		.syntax--punct {
			&.syntax--meta {
				&.syntax--block {
					&.syntax--start, &.syntax--end {
						color: var(--orange);
						font-style: italic;
					}
				}
			}
			
			&.syntax--rules {
				&.syntax--start {
					color: var(--orange);
					font-style: italic;
				}
			}
			&.syntax--rule {
				&.syntax--start, &.syntax--end, &.syntax--next {
					color: var(--high-light-yellow);
				}
			}
			
			&.syntax--code {
				&.syntax--start {
					color: var(--orange);
					font-style: italic;
				}
				
				&.syntax--block {
					&.syntax--start, &.syntax--end {
						color: var(--high-light-yellow);
						font-weight: bold;
						font-style: italic;
					}
				}
			}
		}
		
		// Texts
		.syntax--text {
			&.syntax--comments {
				color: var(--grey);
				font-style: italic;
			}
			
			&.syntax--identifier {
				color: var(--light-green);
			}
			
			&.syntax--string {
				color: var(--green);
			}
			
			&.syntax--types {
				color: var(--light-green);
				font-style: italic;
			}
		}	
	}
}
